body {
    background-image: url(background-image.jpg);
    background-attachment: fixed;
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    position: fixed;
    display: flex;
    width: 100%;
    align-items: stretch;
    top: 0px;
}

.sidebar {
    width: 100px;
    min-height: 100vh;
}

.brand-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10%;
}

.bio-img {
    width: 300px;
    height: 533px;
    margin: 2%;
    float: left;
    border: 3px solid #000;
}

.bio-content {
    text-align: end;
    padding: 2%;
}

.general-container {
    margin-left: 125px;
    margin-right: 25px;
    opacity: 0.9;
    background-color: rgb(250, 250, 250);
}

.about-content {
    display: flex;
}

.skill-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.skill-card {
    width: 200px;
    height: 200px;
}

.carousel-inner {
    height: 400px;
}

.carousel-caption {
    top: 50%;
}

.contact-form {
    width: 50%;
}

.btn {
    width: 100%;
}

@media all and (min-width: 1500px) {
    .general-container {
        max-width: 1200px;
        margin: auto;
    }
}

@media (max-width: 1200px) {
    .general-container {
        max-width: 1100px;
    }
    .about-content {
        display: block;
    }
    .carousel-inner {
        height: 500px;
    }
}

@media (max-width: 900px) {
    .sidebar {
        width: 80px;
    }
    .general-container {
        margin-left: 100px;
        width: auto;
        margin-right: 20px;
    }
    .bio-img {
        width: 300px;
        height: 533px;
        margin-bottom: 25px;
    }
    .carousel-inner {
        height: 650px;
    }
    .contact-form {
        width: 80%;
    }
}

@media (max-width: 650px) {
    .bio-img {
        width: 190px;
        height: 337px;
        margin-bottom: 25px;
    }
    .carousel-inner {
        height: 800px;
    }
    .contact-form {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .carousel-inner {
        height: 1720px;
    }
}